@{
    ViewData["Title"] = "Home Page";
}

<div class="home-content">
    <section class="video">
        <video controls poster="">
            <source src="" type="video/mp4" />
            <source src="" type="video/ogg" />
            Your browser does not support the video tag.
        </video>
    </section>
    <section class="hero">
        <h1 class="hero-title">
            Use <span>Expense Tracker</span> to Track Your Expenses and Stay on
            Top of Your Finances!
        </h1>
        <p class="hero-info">
            <span>Expense Tracker</span> is an easy-to-use and powerful tool
            that helps you stay in control of your money. With
            <span>Expense Tracker</span>, you can track your expenses and
            income, create budgets, and set financial goals all in one place.
        </p>
        <p class="hero-info">
            Keep track of all your expenses and income in real-time. Set monthly
            budgets and track your spending to stay within your limits.
            Categorize your transactions to get a clear understanding of where
            your money is going.
        </p>

        <p class="hero-info">
            <span>Expense Tracker</span> does not require bank account and
            personal information!
        </p>

        <div class="hero-buttons">
            <button class="btn left">Comming soon</button>
            <button class="btn right">Login</button>
        </div>
    </section>
</div>
